node_modules
dist
.DS_Store
/server/api/controllers/examples/
/public/
/test/examples.controller.js
/server/api/services/examples.db.service.js
/server/api/services/examples.service.js
/_______old/
/test/controllers/examples.spec.js
